 body{
  background:radial-gradient(circle,#99154E);
  font-family:arial,helvetica,sans-serif;
  text-align: center;background-color:#FFBBCC;
  text-shadow: 17px 8px 2px #CE9DCA;
}

h2{
  font-size:5em;
  text-align:center;
  background: radial-gradient(circle,#EB92BE);
  font-family: 'Dancing Script', cursive;
  font-family: 'Rubik Beastly', cursive;
  font-family: 'Satisfy', cursive;
  font-family: 'Shalimar', cursive;

}

h1{
  font-size:60px;
  font-family: 'Dancing Script', cursive;
  font-family: 'Rubik Beastly', cursive;
  font-family: 'Satisfy', cursive;


}
h3{
  font-size:60px;
  font-family: 'Amatic SC', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Rubik Beastly', cursive;
  font-family: 'Satisfy', cursive;
  font-family: 'Shalimar', cursive;
  }
 hr{
 border: none;
 border-top:7px dotted;
}

 img{
 border-radius:10%;
}

.circulo{
 border-radius:100%;
 width: 80px;
 height: 80px;
}
.boton{
  color:red;
 padding:15px 20px;
 background-color: grey;
 font-size: 1.5em;
;

}
.boton:hover{
  background-color: pink;
  border-radius: 20px;
  color:black;
  text-shadow: 2px 2px 2px #CAB8FF;
}
