body{
background-color:#CBC9FF;
}
header{
background-color: #;
}
nav{
background-color: #;
width:200px;
}
section{
background-color:#CBC9FF;
}

aside{
background-color: #;
}
footer{
background-color:#;
}
