body{
background-color:#CBC9FF;

}
header{
background-color:
width:200px;
}
nav{
width:200px;
}
.position:after
background-color:#CBC9FF;

}
h1{
text-align: center;
top:200px;
}
h2{
text-align: center;
front-size:3em;

}
h3{
text-align:center;

}
h4{
text-align:  center;
}
img{
border-radius:10%;
top:200px;


}
